<div class="contained">
  <div id = "img">
    <div>
      <img src="../../assets/images/{{image.artworkPhoto}}_reduced.jpg" class="img-container">
    </div>
  </div>
  <div id="info">
   <strong>{{image.artworkTitle}}</strong><br><br>
   <strong>Department: </strong> {{image.departmentName}}<br>
    <strong>creator role: </strong>{{image.creatorRole}}<br>
    <strong>creator description: </strong>{{image.creatorDescription}}<br>
  </div>
  <div id ="tombstone">
    {{image.artworkTombstone}}
  </div>
</div>

